doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Alivio
    body 
        .wrapper 
            include ../../components/header/header.pug
            main.main 
                .main__first 
                    .first 
                        .first__container  
                            .first__body 
                                .first__title Be aware, 
                                .first__title(class='first__title-last') Manage well.
                                .first__text Everyone experiences stress in different ways.
                                .first__text Let Alivio guide you, in a personalized journal
                                .first__text(class='first__text-last') experience, to overcome your stress. 
                                button.first__button(type='submit') Find Your Way 
                .main__how 
                    .how 
                        .how__container 
                            .how__row 
                                .how__column 
                                    .how__content 
                                        .how__epigraph How it works
                                        .how__title Understand & Release 
                                        .how__title(class='how__title-last') the stress in 3 steps
                                .how__column 
                                    .how__texts 
                                        .how__text Alivio offers as many journals it takes, tackling different areas such as
                                        .how__text anxiety, overwhelmedness, sadness, or anger, and a variety of personal
                                        .how__text causes, to help you become aware of your emotions, and guide you in how 
                                        .how__text to manage stress. 
                .main__guide 
                    .guide 
                        .guide__container 
                            .guide__row 
                                .guide__column 
                                    .guide__content 
                                        .guide__num
                                            .guide__one 
                                                img(src=require('../../img/svg/01.png') alt='01')
                                            .guide__subtitle(class='guide__subtitle-one') Personalize 
                                        .guide__texts(class='guide__texts-one') 
                                            .guide__text Answer a quick survey about how you
                                            .guide__text express yourself, what causes you stress,
                                            .guide__text and what area would you like to work on.
                                            .guide__text This way, we can fully personalize your 
                                            .guide__text journal! 
                                        .guide__picture 
                                            img(src=require('../../img/svg/One.png') alt='One')
                                .guide__column 
                                    .guide__content2 
                                        .guide__num
                                            .guide__two 
                                                img(src=require('../../img/svg/02.png') alt='02')
                                            .guide__subtitle(class='guide__subtitle-two') Write & Understand 
                                        .guide__texts 
                                            .guide__text Write, draw, reflect, understand. Alivio will
                                            .guide__text guide you through the prompts and will help
                                            .guide__text you manage your stress! 
                                        .guide__picture(class='guide__picture-two') 
                                            img(src=require('../../img/svg/Two.png') alt='Two')
                                .guide__column 
                                    .guide__content3 
                                        .guide__num
                                            .guide__three 
                                                img(src=require('../../img/svg/03.png') alt='03')
                                            .guide__subtitle(class='guide__subtitle-last') Alivio! 
                                        .guide__texts
                                            .guide__text Now you are aware, and have a way to manage
                                            .guide__text and overcome your own stress. 
                                            .guide__text What are you waiting for? Alivio today!
                                        .guide__picture 
                                            img(src=require('../../img/svg/Three.png') alt='Three') 
                .main__story 
                    .story 
                        .story__container 
                            .story__body 
                                    .story__content 
                                        .story__title Let's hear about
                                        .story__title(class='story__title-last') Kayla's success story 
                                        .story__subtitle See how well Alivio works in a real customer’s life. 
                                        button.story__button(type='submit') Let’s get started
                                    .story__picture 
                                        .story__content2
                                            img(src=require('../../img/svg/Video1.png') alt='Video') 
                .main__diary 
                    .diary 
                        .diary__container 
                            .diary__body 
                                .diary__row 
                                    .diary__column 
                                        .diary__content 
                                            .diary__face 
                                                .diary__customize Customized For 
                                                .diary__line 
                                                    img(src=require('../../img/svg/LineDiary.png') alt='Line') 
                                                .diary__picture 
                                                    img(src=require('../../img/svg/Mic.png') alt='Micaele') 
                                                .diary__name Mikayla 
                                                .diary__title Your custom contents 
                                                .diary__text • Understand Your Stress 
                                                .diary__text • Anger Management 
                                            .diary__view 
                                                .diary__photo 
                                                    img(src=require('../../img/svg/Micaela.png') alt='Micaela')
                                    .diary__column 
                                        .diary__content 
                                            .diary__epigraph Our product 
                                            .diary__title You tell us your stress,
                                            .diary__title We make your diary 
                                            .diary__text Everyone experiences it, and in different ways.
                                            .diary__text Let Alivio guide you, in a personalized journal experience, to
                                            .diary__text overcome your stress. 
                                            button.diary__button(type='submit') Find Your Way